* {
   margin: 0;
   padding: 0;
}

body {
    overflow: hidden;
}

.nav_container {
    background: rgb(11, 212, 248);
    color: white;
    
    
}


#nav_bar li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: sans-serif;
    list-style: none;
    padding: 1em;

}

#nav_bar #logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 1em;
    color: black;
}

/*
#nav_bar .pivot {
   
}*/


#nav_bar li:hover {
    color: black;    
    cursor: pointer;
}

